extend layout
block content
	script document.title = "Contacto | Ecologico Solar";
	div(style="height: 50px; width:100px;") 

	.content-section-b
		.container
			.col-sm-6.col-sm-offset-3
				h1 Contacto
				form
					.form-group
						label Nombre *
						input.form-control(type="text" data-toggle="tooltip" data-placement="top" title="Escribe tu nombre" placeholder="Nombre" required)
					.form-group
						label Telefono *
						input.form-control(type="number" placeholder="Telefono" required)
					.form-group
						label Correo *
						input.form-control(type="email" placeholder="Correo" required)
					.form-group
						label Consulta o comentario
						textarea.form-control
					.form-group
						button.btn.btn-default.btn-block Enviar