extend layout
block content
	script document.title = "Cotizador | Ecologico Solar";
	script if($(window).width()>=1200) main();
	div(style="height: 50px; width:100px;") 

	.content-section-b(ng-app="app" ng-controller="cotizadorCtrl")
		.container
			.col-sm-6.col-sm-offset-3
				h1 Cotizador
				form(name="mForm" ng-submit="send()")
					.form-group
						label Nombre *
						input.form-control(ng-model="mail.name" type="text" data-toggle="tooltip" data-placement="top" title="Escribe tu nombre" placeholder="Nombre" required)
					.form-group
						label Correo *
						input.form-control(ng-model="mail.email" type="email" placeholder="Correo" required)
					.form-group
						label Consumo *
						.form-inline
							.form-group
								.input-group
									input.form-control(ng-model="mail.consumo" type="number" placeholder="Consumo" required)
									.input-group-addon KW/hr
					.form-group
						label Porcentaje *
						.form-inline
							.form-group
								.input-group
									input.form-control(ng-model="mail.percen" type="number" placeholder="Porcentaje" required)
									.input-group-addon %
					.form-group
					.form-group
						button.btn.btn-info.btn-block(ng-disabled="mForm.$invalid") Cotizar