extend layout
block content
	script document.title = "Contacto | Ecologico Solar";
	script if($(window).width()>=1200) main();
	div(style="height: 50px; width:100px;") 
	.content-section-b
		.container
			h1(style="margin-bottom: 50px;") Contacto
			.col-sm-4
				center
					.icon-2
						img(src="img/iluminacion_led.jpg")
					h3 Iluminacion Led
					hr
					p.left.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repudiandae. Numquam labore assumenda qui animi tempora sequi neque laudantium, esse. Harum sit pariatur iusto dicta numquam ipsa, dolore, accusamus provident?
			.col-sm-4
				center
					.icon-2
						img(src="img/paneles_solares.jpg")
					h3 Paneles Solares
					hr
					p.left.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At exercitationem minima magni mollitia omnis, possimus maxime repellat dolores consequuntur esse nulla praesentium neque consequatur perspiciatis sint tempora, accusamus facere aliquid.
			.col-sm-4
				center
					.icon-2
						img(src="img/calentadores_solares.jpg")
					h3 Calentadores Solares
					hr
					p.left.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sunt quasi ea quod, neque, provident velit maiores sequi, perspiciatis nemo pariatur. Ipsum quis velit rem ratione quod nam illo voluptas.