extend layout
block content
	script document.title = "Servicios | Ecologico Solar";
	script if($(window).width()>=1200) main();
	div(style="height: 50px; width:100px;")
	.content-section-b
		.container
			h1(style="margin-bottom: 50px;") Servicios
			.col-sm-4
				center
					.icon
						img(src="img/graph.svg")
					h3 Eficiencia Energetica 
					hr
					p.left.
						Realizamos proyectos de analisis de efisiencia energetica 
						tanto en domisilios como en maquinaria industrial, 
						ofrecemos diversas soluciones para disminuir el consumo energetico. 
			.col-sm-4
				center
					.icon
						img(src="img/help.svg")
					h3 Asesoria de proyectos 
					hr
					p.left.
						Contamos con asesoria personalizada para todos nuestros
						proyectos de eficiencia energetica y energias renovables,
						obteniendo asi los resultados mas eficientes de su inversion. 
			.col-sm-4
				center
					.icon
						img(src="img/install.svg")
					h3 Instalacion de Sistemas
					hr
					p.left.
						Nuestro equipo de Ingenieros realiza cuidadosamente la
						instalacion del sistema que usted contrate, por muy pequeño
						o grande que sea queremos garantizar su satisfaccion. 

	.content-section-a
		.container
			h1(style="margin-bottom: 50px;") Mas informaci&oacute;n

			.col-sm-3
				center
					.icon
						img(src="img/electric.svg" style="padding-bottom:20px")
					h3 Energia electrica?
					hr
					a.btn.btn-default.btn-block(target="_blank" href="pdfs/Que_es_la_energia_solar-Ecologico_Solar.pdf") ver pdf
			.col-sm-3
				center
					.icon
						img(src="img/solar.svg" style="padding-bottom:30px")
					h3 Por que energia solar?
					hr
					a.btn.btn-default.btn-block(target="_blank" href="pdfs/por_que_energia_solar-Ecologico_Solar.pdf") ver pdf
			.col-sm-3
				center
					.icon(style="padding:0px;")
						img(src="img/heater.svg")
					h3 Calentadores solares
					hr
					a.btn.btn-default.btn-block(href="pdfs/Calentadores_Solares-Ecologico_Solar.pdf") ver pdf
			.col-sm-3
				center
					.icon
						img(src="img/faq.svg")
					h3 Preguntas Frecuentes
					hr
					a.btn.btn-default.btn-block(href="pdfs/Preguntas_frecuentes-Ecologico_Solar.pdf") ver pdf
		//- .container
		//- 	.row
		//- 		h1 Mas informaci&oacute;n
		//- 		table.table.table-striped.table-condensed
		//- 			tr
		//- 				td Que es la energia electrica?
		//- 					.btn.btn-xs.btn-primary download
		//- 			tr
		//- 				td Por que energia solar?
		//- 					.btn.btn-xs.btn-primary download
		//- 			tr
		//- 				td Calentadores solares?
		//- 					.btn.btn-xs.btn-primary download
		//- 			tr
		//- 				td Preguntas frecuentes
		//- 					.btn.btn-xs.btn-primary download
